<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Gestión de Proyectos</title>
    <!--<link rel="stylesheet" href="home.component.css">-->
</head>
<body>

<header class="header">
    <div class="logo">
        <a href="/"><img src="../../../assets/logo.png" alt="Logo"></a>
    </div>
    <div>
        <button class="menuH">
            <i class="fa-solid fa-bars"></i>
        </button>
    </div>
    <nav>
        <ul class="nav-links">
            <li><a href="/proyecto">Proyectos</a></li>
            <li><a href="/actividades">Actividades</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    <div class="btn">
        <a href="/login"><button>Iniciar Sesión</button></a>
    </div>
    <div class="btn">
        <input type="text" placeholder="Buscar...">
        <button>Buscar</button>
    </div>
</header>
<section id="banner">
    <div class="banner">
    <div class="typed_wrap">
        <h1>Te Ayudamos a <span class="typed"></span></h1>
    </div>
</div>
</section>


<!--<section class="main-content" id="about">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>Conócenos</h2>
                <p>Somos una empresa dedicada a la gestión eficiente de proyectos, proporcionando soluciones innovadoras para ayudarte a alcanzar tus objetivos de manera exitosa. Nuestra misión es optimizar tus procesos de trabajo y maximizar la productividad de tus proyectos.</p>
                <p>Creemos en la importancia de la planificación estratégica, la coordinación efectiva y la comunicación clara para garantizar el éxito en cada etapa del proyecto. Nos comprometemos a trabajar de cerca contigo para entender tus necesidades y ofrecerte las mejores soluciones adaptadas a tus objetivos específicos.</p>
                <p>En nuestra empresa, nos esforzamos por mejorar continuamente nuestros métodos y prácticas para proporcionarte servicios de la más alta calidad. Nos enorgullece ofrecer un enfoque personalizado y orientado al cliente en cada proyecto en el que participamos.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="card">
                    <h4>Nuestro Enfoque</h4>
                    <p>Nuestro enfoque se centra en comprender tus necesidades únicas y desarrollar soluciones personalizadas que impulsen el éxito de tu proyecto. Trabajamos en estrecha colaboración contigo para garantizar que cada aspecto de tu proyecto se maneje con cuidado y atención al detalle.</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="card">
                    <h4>Nuestros Servicios</h4>
                    <p>Ofrecemos una amplia gama de servicios de gestión de proyectos, incluyendo planificación, seguimiento y control, gestión de riesgos, gestión de recursos y más. Nuestro equipo experimentado está aquí para ayudarte en todas las etapas de tu proyecto, desde la concepción hasta la finalización.</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="card">
                    <h4>Cómo Podemos Ayudarte</h4>
                    <p>Nos enorgullecemos de proporcionar soluciones efectivas que optimicen tus procesos y mejoren los resultados de tus proyectos. Nuestro objetivo es ayudarte a alcanzar tus metas de manera eficiente y rentable, brindándote el apoyo necesario para superar cualquier desafío que puedas enfrentar en el camino.</p>
                </div>
            </div>
        </div>        
    </div>  
</section>-->
<section id="hero" class="glass-effect">
    <div class="container">
        <h2>Bienvenido</h2>
        <p>Somos líderes en ofrecer soluciones innovadoras.</p>
        <a href="#contact" class="btn">Contáctanos</a>
    </div>
</section>

<section id="about">
    <div class="container">
        <h2>Acerca de Nosotros</h2>
        <p>Somos una empresa dedicada a la gestión eficiente de proyectos, proporcionando soluciones innovadoras para ayudarte a alcanzar tus objetivos de manera exitosa. Nuestra misión es optimizar tus procesos de trabajo y maximizar la productividad de tus proyectos.</p>
        <p>Creemos en la importancia de la planificación estratégica, la coordinación efectiva y la comunicación clara para garantizar el éxito en cada etapa del proyecto. Nos comprometemos a trabajar de cerca contigo para entender tus necesidades y ofrecerte las mejores soluciones adaptadas a tus objetivos específicos.</p>
        <p>En nuestra empresa, nos esforzamos por mejorar continuamente nuestros métodos y prácticas para proporcionarte servicios de la más alta calidad. Nos enorgullece ofrecer un enfoque personalizado y orientado al cliente en cada proyecto en el que participamos.</p>
    </div>
</section>
<section id="enfoque">
    <div class="container">
        <img src="../../../assets/8104960.jpg" alt="">
        <h4>Nuestro Enfoque</h4>
        <p>Nuestro enfoque se centra en comprender tus necesidades únicas y desarrollar soluciones personalizadas que impulsen el éxito de tu proyecto. Trabajamos en estrecha colaboración contigo para garantizar que cada aspecto de tu proyecto se maneje con cuidado y atención al detalle.</p>
    </div>
</section>
<section id="servicios">
    <div class="container">
        <h4>Nuestros Servicios</h4>
          <p>Ofrecemos una amplia gama de servicios de gestión de proyectos, incluyendo planificación, seguimiento y control, gestión de riesgos, gestión de recursos y más. Nuestro equipo experimentado está aquí para ayudarte en todas las etapas de tu proyecto, desde la concepción hasta la finalización.</p>
    </div>
</section>
<section id="ayuda">
    <div class="container">
        <img src="../../../assets/19719.jpg" alt="">
        <h4>Cómo Podemos Ayudarte</h4>
        <p>Nos enorgullecemos de proporcionar soluciones efectivas que optimicen tus procesos y mejoren los resultados de tus proyectos. Nuestro objetivo es ayudarte a alcanzar tus metas de manera eficiente y rentable, brindándote el apoyo necesario para superar cualquier desafío que puedas enfrentar en el camino.</p>
    </div>
</section>
<app-footer></app-footer>
</body>
</html>
